.svg-bubble-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 24px;
}

.svg-speech-bubble {
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.svg-details {
  margin: 0 auto;
}

.speech-bubble-label {
  font-family: 'Passion One', sans-serif;
  text-transform: uppercase;
  text-anchor: middle;
  font-size: 29px;
}

.svg-icon-bubbles {
  visibility: hidden;
}

.pop-lines {
  visibility: hidden;
}

.hit-area {
  cursor: move;
  fill: rgba(0, 0, 0, 0);
  height: 100%;
}

.icon {
  pointer-events: none;
}

.dot {
  cursor: pointer;
}

.icon {
  pointer-events: none;
}

.svg-bubble-action {
  text-align: center;
  min-height: 35px;
}
