.svg-bubble-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hit-area {
  cursor: move;
  fill: rgba(0, 0, 0, 0);
  height: 100%;
}

.icon {
  pointer-events: none;
}

.dot {
  cursor: pointer;
}
